@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600&display=swap');
*{
    box-sizing: border-box;
}

body{
    font-family: "Inter", sans-serif;
}

#root {
 display: flex;
 align-items: center;
 justify-content: center;
 gap: 20px;
 flex-wrap: wrap;
 min-height: 100vh;
 margin: 0;
}

/* Styles for the app container */
.app-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

/* Styles for the title */
.title {
  font-size: 24px;
  margin-bottom: 20px;
}

/* Styles for the QR code image */
.qr-code {
  max-width: 150px;
  margin: 20px auto;
}

/* Styles for input fields */
.input-label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Styles for buttons */
.button {
  display: inline-block;
  padding: 10px 20px;
  margin-right: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #0056b3;
}
